*{ 
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    font-family: 'Candara';
    font-size: 1.2rem;
    height: 150%;
    width: 100%;
}
.about {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    flex-direction: column;
}
.introdu{
    width: 600px;
    border: 10px solid #a8e063;
    padding: 1.5rem;
    background: #56ab2f;

}
.titlu{
    text-align: center;
}
.foto{
    height: 250px;
    background-image: url(https://cdn.pixabay.com/photo/2013/07/13/10/23/garbage-157110_960_720.png);
    background-size: contain;
    background-repeat: no-repeat;

}
@media only screen and (max-width: 640px) {
    .introdu{
        width: 350px;
        border: 5px solid #a8e063;
        padding: 1.5rem;
        background: #56ab2f;
    
    }
    .foto{
        height: 150px;
        background-image: url(https://cdn.pixabay.com/photo/2013/07/13/10/23/garbage-157110_960_720.png);
        background-size: contain;
        background-repeat: no-repeat;
    
    }

}
