*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: auto;

}
body{
    top: 20em;
    font-family: 'Candara';
    font-size: 1rem;
   
    height: auto;
}
.wrap {
    position:relative;
    top: 30px;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafafa;
   background-image:url(https://pixabay.com/get/54e0d7454251a814f1dc8460da293277153ed8ec555579_640.png);
    background-position:bottom;
    background-repeat:no-repeat;
    padding-top: 5em;
    padding-bottom: 20em;
}
@media only screen and (max-width: 600px) {
    .wrap{
        position:relative;
        top: 30px;
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fafafa;
        background-image:url(https://pixabay.com/get/54e0d7454251a814f1dc8460da293277153ed8ec555579_640.png);
        background-size: 300px 200px;
        background-position: bottom;
        background-repeat:no-repeat;
        padding-top: 5em;
        padding-bottom: 15em;

    }
  }
.login-form{
    width: 350px;
    margin: 0 auto;
    border: 1px solid #ddd;
    padding: 2rem;
    background: #ffffff;
}
.form-header{
    height: auto;
    top:10em;
}
.form-input{
    background: #fafafa;
    border: 1px solid #eeeeee;
    padding: 12px;
    width: 100%;
}
.formular{
    margin-bottom: 1rem;
}
/**.form-button{
    background:  #336333;
    border: 1px solid #ddd;
    color: #ffffff;
    padding: 10px;
    width: 100%;
    text-transform: uppercase;
}
.form-button:hover{
    background: #336333;
}*/
.form-button{
    border-radius: 30px;
    background: rgb(25,80,63);
    background: #56ab2f; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #56ab2f, #a8e063); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #56ab2f, #a8e063); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 1px solid #ddd;
    color: #ffffff;
    padding: 10px;
    width: 100%;
    text-transform: uppercase;
}
.form-button:hover{
    background: #56ab2f; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.form-header{

    text-align: center;
    margin-bottom : 2rem;
}
.form-footer{
    text-align: center;
}