*{ 
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    font-family: 'Candara';
    font-size: 1rem;
    height: 110%;
    width: 100%;
}
.statistics {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    background: #fafafa;
    justify-content: center;
    align-items: center;
}

 .statistic-form{
     position: absolute;
     left: 0;
    width: 350px;
    border: 1px solid #ddd;
    border-radius: 30px;
    padding: 2rem;
    background: #56ab2f;
}
.form-input{
    background: #ffffff;
    border: 1px solid #eeeeee;
    padding: 12px;
    width: 100%;
}
.button{
    background: #ffffff;
    border: 1px solid #eeeeee;
    border-radius: 30px;
    padding: 12px;
    width: 100%;
}
.formular{
    margin-bottom: 1rem;
}

.show{
    position: absolute;
    right: 0;
   width: 800px;
   height: 80%;
   border: 10px solid #56ab2f;
   padding: 2rem;
   background: #fafafa;
   background-image: url(https://cdn.pixabay.com/photo/2016/08/02/18/27/statistic-1564428_960_720.png);
   background-size: cover;
   background-repeat: no-repeat;
}

@media screen and (max-width: 1140px) {
    .statistics {
        width: 100%;
        height: 100%;
        display: flex;
        background: #fafafa;
        justify-content: center;
    align-items: center;
    }
    .statistic-form{
    
       width: 80%;
       border: 1px solid #ddd;
       border-radius: 30px;
       padding: 2rem;
       left:auto;
       top: 0;
       background: #56ab2f;
       padding-top: 7em;
   }
   .show{
       width:auto;
    border: none;
    padding: 0;
   right: auto;
   background:none;
   background-image: none;
}
}