*{ 
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    font-family: 'Candara';
    font-size: 1rem;
    line-height: 1.6;
    height: 110%;
}
.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafafa;
    /* background-image: url(https://cdn.pixabay.com/photo/2017/03/17/11/50/background-2151327_960_720.jpg);
    background-size: cover;
    background-repeat: repeat;*/
}
.login-form{
    width: 350px;
    margin: 0 auto;
    border: 1px solid #ddd;
    padding: 2rem;
    background: #ffffff;
}
.form-input{
    background: #fafafa;
    border: 1px solid #eeeeee;
    padding: 12px;
    width: 100%;
}
.formular{
    margin-bottom: 1rem;
}
.form-button{
    border-radius: 30px;
    background: rgb(25,80,63);
    background: #56ab2f; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #56ab2f, #a8e063); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #56ab2f, #a8e063); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 1px solid #ddd;
    color: #ffffff;
    padding: 10px;
    width: 100%;
    text-transform: uppercase;
}
.form-button:hover{
    background: #56ab2f; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.form-header{
    color:rgb(77, 80, 79);
    text-align: center;
    margin-bottom : 2rem;
}
.form-footer{
    color: rgb(121, 117, 117);
    text-align: center;
}